<library path="rqt_navsim_plugin">
  <class name="rqt_plugin/NavsimLaunchGUI" type="rqt_plugin::NavsimLaunchGUI" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      This is a plugin for creating navsim simulations.
    </description>
    <qtgui>
      <label>Navsim Launch</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A custom plugin in rqt ROS2.</statustip>
    </qtgui>
  </class>
</library>